.mvlist{
    width: 100%;
    margin-top: 30px;
    display: flex;
}
.mvlist-right{
    width: 270px;
    height: 247px;
    padding: 15px;
    background-color: white;
    position: fixed;
    right: 23px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.mvlist-type{
    width: 100%;
}
.mvlist-type h3{
    font-size: 16px;
}
.mvlist-span{
    display: flex;
    flex-wrap: wrap;
}
.mvlist-span span{
    font-size: 14px;
    margin-right: 20px;
    margin-top: 10px;
}
.spanActive{
    border-bottom: 2px solid #ff641e;
}